<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="../style/admin/dashboard.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- tagify -->
<link rel="stylesheet" href="https://yaireo.github.io/tagify/dist/tagify.css">
<script src="https://yaireo.github.io/tagify/dist/tagify.js"></script>
<script src="https://yaireo.github.io/tagify/dist/jQuery.tagify.min.js"></script>



</head>
<div class="container-fluid mh-100 main-container">
    <div class="row">
        <%- include('../partials/sidemenu.ejs') %>
        <div class="col-md-6 middle-column">
            <div class="row">
                <div class="col-md-12 custom-border custom-border-bottom py-3 group-action">
                    <h5>Groups</h5>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Add Group
                    </button>
                </div>
                <div class="col-md-12 custom-border middle-upper-layer py-3">

                    <% if(groupMessage.length > 0) { %>
                    <tr>
                        <div class="alert alert-primary group-msg" role="alert">
                            <%= groupMessage %>
                        </div>
                    </tr>
                    <% } %>

                    <div class="grid">
                        <% if(groups.length > 0) { %>
                        <% groups.forEach((group)=> { %>
                        <div class="box col-33">
                            <div class="block gutter">
                                <a class="group_details" href="group/<%= group._id %>">
                                    <span class="group_name"><%= group.group_name %></span>
                                    <span class="group_member"><%= group.group_desc %> </span>
                                    <span class="group_member"><%= group.members.length %> members</span>
                                    <span class="fi-trash"></span>
                                </a>
                                <span class="trash-icon" data-toggle="modal" data-target="#deleteModal"
                                    id="<%= group._id %>">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>


                                <div class="avatars">
                                    <% group.members.forEach((member, index)=>{  %>
                                    <% if(index <= 2) { %>
                                    <span class="avatar">
                                        <img src="<%= member.profile_pic ? member.profile_pic : 'https://via.placeholder.com/150' %>"
                                            width="30" height="30" />
                                    </span>
                                    <% } %>
                                    <% }) %>
                                </div>

                            </div>

                        </div>
                        <% }) %>
                        <div class="clear"></div>
                        <% } else { %>
                        <%- include('../partials/empty-view.ejs', { icon: "fa fa-users", message: "No groups", subMessage: "You haven't created any group yet. Please create new one to get started" }) %>
                        <% } %>
                    </div>
                </div>
            </div>



            <!-- Group add Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="POST" action="add-group">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="groupNameLabel">Group Name</label>
                                    <input type="text" name="groupName" class="form-control input" id="groupNameLabel"
                                        aria-describedby="emailHelp" placeholder="Enter group name" required>

                                </div>
                                <div class="form-group">
                                    <label for="groupDescLabel">Group Description</label>
                                    <input type="text" name="groupDesc" class="form-control input" id="groupDescLabel"
                                        aria-describedby="emailHelp" placeholder="Enter group description" required>

                                </div>
                                <div class="form-group">
                                    <label for="groupMemberLabel">Group Member</label>
                                    <input name="members" type="text"
                                        class="form-control group_member_autocomplete input" id="groupMemberLabel"
                                        placeholder="Try to add persons from the list" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete this group?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <form method="post" action="group/delete">
                                <input type="hidden" name="group_id" id="gruop_id">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-3 all-users">
            <div class="user_header">
                <h6 class="heading">All Users (<%= allusers.length %>)</h6>
                <hr>
            </div>
            <div class="user_list">
                <% allusers.forEach(user=>{ %>

                <div class="group-member-item">
                    <img src="<%= user.profile_pic ? user.profile_pic: 'https://via.placeholder.com/150' %>"
                        class="rounded-circle member-avatar">
                    <div class="member-details">
                        <span class="member-name"><%= user.name %></span>
                        <span class="member-email"><%= user.EmailID %></span>
                    </div>
                </div>
                <hr class="divider">

                <% }) %>
            </div>
        </div>
    </div>
</div>

<script>var users = `<%= users %>`;</script>
<script>
    users = users.split("&#34;").join('"')
    users = JSON.parse(users);
    users = users.map(user => {
        return { ...user, profile_pic: null }
    })
    console.log(users);

</script>
<script src="./../../assets/js/admin/dashboard.js"></script>

<%- include('../partials/end.ejs') %>