<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="./../../style/feeds_page.css">
<link rel="stylesheet" href="./../../style/main.css">
<link rel="stylesheet" href="./../../style/admin/group.css">

<!-- tagify -->
<link rel="stylesheet" href="https://yaireo.github.io/tagify/dist/tagify.css">
<script src="https://yaireo.github.io/tagify/dist/tagify.js"></script>
<script src="https://yaireo.github.io/tagify/dist/jQuery.tagify.min.js"></script>

</head>
<div class="container-fluid mh-100 main-container">
    <div class="row">
        <%- include('../partials/sidemenu.ejs') %>
        <div class="col-md-6 middle-column">
            <div class="row">
                <div class="col-md-12 custom-border custom-border-bottom py-3 group-action">
                    <h5><%= group.group_name  %></h5>
                    <div>
                        <button class="btn btn-primary plus-icon btn-sm add-description" data-toggle="modal"
                            data-target="#addDescriptionModal">Add Description</button>
                        &nbsp;
                        <button class="btn btn-primary plus-icon btn-sm add-member" data-toggle="modal"
                            data-target="#memberAddModal">Add member</button>
                    </div>
                </div>
                <div class="col-md-12 custom-border middle-upper-layer py-3">

                    <% if(memberMessage.length > 0) { %>
                    <tr>
                        <div class="alert alert-primary group-msg" role="alert">
                            <%= memberMessage %>
                        </div>
                    </tr>
                    <% } %>

                    <% if(group_members.length > 0) { %>
                    <p class="member-total"><%= group_members.length  %> members</p>
                    <% group_members.forEach(member=> {  %>

                    <div class="group-main">
                        <div class="group-member-item">
                            <% if(member.profile_pic) { %>
                            <img src="../<%= member.profile_pic %>" class="rounded-circle member-avatar">
                            <% } else { %>
                            <img src="https://via.placeholder.com/150" class="rounded-circle member-avatar">
                            <% } %>
                            <div class="member-details">
                                <span class="member-name"><%= member.name %></span>
                                <span class="member-email"><%= member.EmailID %></span>
                            </div>
                            <span class="trash-icon" data-toggle="modal" data-target="#deleteMemberModal"
                                id="<%= member._id %>">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <hr class="stiched">
                        </hr>
                    </div>

                    <%  })  %>
                    <% } else { %>
                    <%- include('../partials/empty-view.ejs', { icon: "fa fa-user", message: "No members", subMessage: "You haven't added any group member yet. Start adding member by clicking on 'Add member' button" }) %>
                    <% } %>
                </div>
            </div>

        </div>
        <div class="col-md-3 mt-3 all-users">
            <div class="user_header">
                <h6 class="heading">All Users (<%= allusers.length %>)</h6>
                <hr>
            </div>
            <div class="user_list">
                <% allusers.forEach(user=>{ %>

                <div class="group-member-item">
                    <% if(user.profile_pic) { %>
                    <img src="../<%= user.profile_pic %>" class="rounded-circle member-avatar">
                    <% } else { %>
                    <img src="https://via.placeholder.com/150" class="rounded-circle member-avatar">
                    <% } %>
                    <div class="member-details">
                        <span class="member-name"><%= user.name %></span>
                        <span class="member-email"><%= user.EmailID %></span>
                    </div>
                </div>
                <hr class="divider">

                <% }) %>
            </div>
        </div>
    </div>


    <!-- add description Modal -->
    <div class="modal fade" id="addDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="addDescriptionModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="add-description">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="description" type="text" class="form-control input" id="descriptionLabel"
                                placeholder="Enter Description" required></textarea>
                        </div>
                        <input type="hidden" name="group_id" value="<%= group._id %>">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- member add Modal -->
    <div class="modal fade" id="memberAddModal" tabindex="-1" role="dialog" aria-labelledby="memberAddModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="add-member">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Members</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="groupMemberLabel">Group Member</label>
                            <input name="members" type="text" class="form-control group_member_autocomplete input"
                                id="groupMemberLabel" placeholder="Try to add persons from the list" required>
                        </div>
                        <input type="hidden" name="group_id" value="<%= group._id %>">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete member?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this member?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <form action="member/delete" method="POST">
                        <input type="hidden" name="member_id" id="f_member_id">
                        <input type="hidden" name="group_id" value="<%= group._id %>">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>var users = "<%= users %>";</script>
<script>
    users = users.split("&#34;").join('"')
    users = JSON.parse(users);
</script>
<script src="./../../assets/js/admin/dashboard.js"></script>
<script src="./../../assets/js/admin/group.js"></script>

<%- include('../partials/end.ejs') %>