<%- include('../partials/head.ejs') -%>
<link rel="stylesheet" href="../style/admin/login.css" type="text/css">
</head>

<body>
    <div class="main">
        <div class="admin_login_card">
            <h3 class="heading">Admin Login</h3>
            <div class="border_heading">
                <span class="border_one"></span>
                <span class="border_two"></span>
            </div>
            <hr>
            <div class="card-container">
                <% if(message.length > 0) { %>
                <tr>
                    <div class="alert alert-primary" role="alert">
                        <%= message %>
                    </div>
                </tr>
                <% } %>
                <form action="/admin/login" method="post">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" name="email"
                            value="<%= form.length>0 ? form[0].email : 'admin@gmail.com' %>"
                            aria-describedby="emailHelp" placeholder="Enter email" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" name="password"
                            value="<%= form.length>0 ? form[0].password : '123456' %>" id="inputPassword"
                            placeholder="Password">
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-primary admin_login_btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/end.ejs') -%>