<div class="col-md-3 left-column ">
    <div class="position-fixed">
        <ul class="list-group py-3 dropdown-list">
            <% if(user.isAdmin) { %>
            <li class="list-group-item <%= path == 'admin/dashboard' ? 'active' : null %>">
                <div class="on-hover-show">
                    <a href="/admin/dashboard" class=" py-3 px-4">
                        <i class="fa fa-home fa-lg mr-3" aria-hidden="true"></i>Home
                    </a>
                </div>
            </li>
            <% } %>
            <% if(!user.isAdmin) { %>
            <li class="list-group-item <%= path == 'users/home' ? 'active' : null %>">
                <div class="on-hover-show">
                    <a href="/users/home" class=" py-3 px-4">
                        <i class="fa fa-home fa-lg mr-3" aria-hidden="true"></i>Home
                    </a>
                </div>
            </li>
            <li class="list-group-item <%= path == 'users/profile' ? 'active' : null %>">
                <div class="on-hover-show">
                    <a href="/users/profile" class=" py-3 px-4">
                        <img class="rounded-circle mr-3" height="25px" width="25px"
                            src=<%= user.profile_pic %> /><%=user.username%>
                    </a>
                </div>
            </li>
            <!-- <li class="list-group-item <%= path == 'users/profile' ? 'active' : null %>">
                <div class="on-hover-show">
                    <a href="/users/profile" class=" py-3 px-4">
                        <i class="fa fa-user fa-lg mr-3" aria-hidden="true"></i><%=user.name%>
                    </a>
                </div>
            </li> -->
            <li class="list-group-item">
                <div class="on-hover-show">
                    <a href="#" class=" py-3 px-4">
                        <i class="fa fa-map-marker fa-lg mr-3" aria-hidden="true"></i><%=user.location%>
                    </a>
                </div>
            </li>
            <li class="list-group-item <%= path == 'users/notifications' ? 'active' : null %>">
                <div class="on-hover-show">
                    <a href="/users/notifications" class=" py-3 px-4">
                        <i class="fa fa-bell mr-3" aria-hidden="true"></i>
                        Notifications &nbsp;
                        <% if(!notificationViewed) { %>
                        <span
                            class="badge <%= path == 'users/notifications' ? 'badge-light' : 'badge-primary' %> "><%= notificationCount %></span>
                        <% } else { %>
                        <span
                            class="badge <%= path == 'users/notifications' ? 'badge-light' : 'badge-primary' %>">0</span>
                        <% } %>
                    </a>
                </div>
            </li>
            <li class="list-group-item sidemenu-bio">
                <div class="on-hover-show">
                    <a href="#" class=" py-3 px-4">
                        <i class="fa fa-user fa-lg mr-3" aria-hidden="true"></i><%=user.bio%>
                    </a>
                </div>
            </li>
            <% } %>
            <% if(user.isAdmin) { %>
            <li class="list-group-item">
                <div class="on-hover-show">
                    <a href="/admin/logout" class=" py-3 px-4">
                        <i class="fa fa-sign-in fa-lg mr-3" aria-hidden="true"></i>Logout
                    </a>
                </div>
            </li>
            <% } else { %>
            <li class="list-group-item">
                <div class="on-hover-show">
                    <form action="/logout" id="logout_frm" method="POST">
                        <a href="javascript:$('#logout_frm').submit();" class=" py-3 px-4">
                            <i class="fa fa-sign-in fa-lg mr-3" aria-hidden="true"></i>Logout
                        </a>

                        <input type="hidden" name="timezone" id="timezone">
                    </form>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<script src="./../../assets/js/user/login.js"></script>
