<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style/emojionearea.min.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../assets/emojionearea.min.js"></script>
    <link rel="stylesheet" href="../style/feeds_page.css">

    <title>User Feed</title>
</head>
<body>    
    <h1 class="h1"><a href="feeds_page.ejs">Community Connect</a>
        <div class="topnav">
            <a href="../login">Logout</a>
        </div>
        <hr class="h-line">
    </h1>

    <img class="placeholder" src="https://avatars.dicebear.com/v2/male/john.svg?options[mood][]=happy"/>

    <form method="POST", action="/user/feedPost">
    <textarea type="text" id="body" name="body" placeholder="Post Feed!" style="display: none;" ></textarea>
        <section>
            <div class="text">
            </div>
            <input class="receiver" type="text" name="receiver" id="receiver" placeholder="Receiver's ID">
            <button class="btn" type="submit" value="Post">Post</button>
        </section>

    </form>

    <div class="v-line"></div>
    <div class="username">
        @<%=posts[0].username%>
    </div>
    <div class="displayName">
        <%=posts[0].name%>
    </div>
    <div class="displayBio">
        <b>Bio: </b><br> <%=posts[0].bio%>
    </div>

    <% if (posts) { %>
    <% for(var curPost=1; curPost<posts.length; curPost++) { %>
            
    <table class="post-table">
        <% if(posts[curPost].author == posts[curPost].receiver && posts[curPost].author == posts[0].username) { %>
            <tr class="post-row">
                <td class="post-content">
                    <b><%= "My Feed!" %></b>
                </td>
            </tr>
        <%}%>

        <% if(posts[curPost].author == posts[curPost].receiver && posts[curPost].author != posts[0].username) { %>
            <tr class="post-row">
                <td class="post-content">
                    <b>@<%= posts[curPost].author %>'s Feed: </b>
                </td>
            </tr>
        <%}%>
        
        <% if(posts[curPost].author != posts[curPost].receiver) { %>
            <tr class="post-row">
                <td class="post-content">
                    <b>@<%= posts[curPost].author %> posted on @<%= posts[curPost].receiver %>'s wall: </b>
                </td>
            </tr>
        <% } %>

        <tr class="post-row">
            <td class="post-content">
                <%= posts[curPost].body %>
            </td>
        </tr>

        <tr class="post-comment">
            <td class="post-content">
                <% var a = "/user/feedPost?feedId=".concat(posts[curPost]._id) %>
                <form method="POST", action= <%= a %> >
                    <textarea type="text" rows="4" cols="60" id="comment" name="comment" placeholder="Comment"></textarea>
                    <button class="btn-comment" type="submit" value="Post">Comment</button>
                </form>
            </td>
        </tr>

        <% if (posts[curPost].comments.length) { %>
            <% for(var curComment=0; curComment<posts[curPost].comments.length; curComment++) { %>
                <tr><td><table class="post-comment-table">
                        <tr class="post-comment">
                            <td class="post-row">
                                <b><%= posts[curPost].comments[curComment].author %> : </b>
                            </td>
                            <td>
                                <b><%= posts[curPost].comments[curComment].body %></b>
                            </td>
                        </tr>
                </table></td></tr>
            <% } %>
        <% } %>
    </table>
    <% }} %>
 
    <script src="../assets/emojiPicker.js"></script>

</body>
</html>