<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/emojionearea.min.js"></script>
    <link rel="stylesheet" href="../style/profile.css">

    <title>Sign Up</title>
</head>

<body>
    <div class="container-fluid p-4">
        <div class="row  text-center">
            <div class="col-12">
                <form method="POST" action="create-user" novalidate>
                    <div class="col-12">
                        <h3><a href="feeds_page.ejs">Community Connect</a></h3>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="card" style="width: 280px">
                            <img id="theImage" width="280px" height="280px" class="profile_image"
                                src="http://placehold.it/140X140" />
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3 mt-3">
                        <% if(message) { %>
                        <div id="error" class="quick-switch">
                            <p class="error-message"><%= message %></p>
                        </div>
                        <% } %>
                        <h3>Personal Information (Public)</h3>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="user-nm"></label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Full Name"
                                    value="<%= body.name ? body.name: null %>" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="sr-only" for="user-dn">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                    value="<%= body.email ? body.email: null %>" readonly="readonly">
                            </div>
                            <div class="form-group col">
                                <label class="sr-only" for="user-nm">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" name="username" id="username"
                                        value="<%= body.username? body.username : null %>" placeholder="User Name"
                                        required>
                                </div>
                            </div>
                            <div class="col">
                                <label class="sr-only" for="user-ln">City</label>
                                <input type="text" class="form-control" name="location" id="location"
                                    value="<%= body.location ? body.location : null %>" placeholder="Location" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="sr-only" for="myTextarea"></label>
                                <textarea type="text" class="form-control" name="bio" id="bio" maxlength="120" rows="5"
                                    placeholder="Bio" style="margin-left:0px"
                                    required><%= body.bio ? body.bio : null %></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="sr-only" for="passwd">Password</label>
                                <input type="password" class="form-control" name="password" id="user-pass"
                                    value="<%= body.password ? body.password : null %>" placeholder="Password" required>
                            </div>

                            <div class="col-md-6">
                                <label class="sr-only" for="conf-passwd">Confirm Password</label>
                                <input type="password" class="form-control" name="password_conf" id="conf-passwd"
                                    value="<%= body.password_conf ? body.password_conf : null %>"
                                    placeholder="Confirm password" required>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="<%= id %>" />
                        <input type="hidden" name="image_src" id="image_src" value="" />
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                <hr>
                <ul class="bottom-form-link">
                    <li>
                        <span>Have an account?</span>
                    </li>
                    <li>
                        <a href="/">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/emojiPicker.js"></script>
    <script>
        let avatar = localStorage.getItem('avatar');
        $('#theImage').attr('src', avatar);
        $('#image_src').val(avatar);
    </script>
</body>

</html>